<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="task_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="task_deadline">
    <%= form.label :deadline %>
    <%= form.date_field :deadline %>
  </div>
  <div class="task_status">
    <%= t('form.status') %>
    <%= form.select :status, options_for_select(Task.statuses.keys), {prompt: "選択してください"} %>
  </div>
  <div class="task_priority">
    <%= t('form.priority') %>
    <%= form.select :priority, options_for_select(Task.priorities.keys), {prompt: "選択してください"}  %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "タスク一覧画面にもどる", tasks_path %>
