<h1><%= @user.name %>のページ</h1>
<h1>こんにちは<%= @user.name %>さん</h1>
<p>メールアドレス: <%= @user.email %></p>

<% if @user == current_user %>
  <%= link_to 'タスクを作成する', new_task_path %>

  <% end %>
</div>


<table class="table table-hover">
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>ステイタス</th>
    <th>優先順位</th>
    <th>作成者</th>
  </tr>

<% @user.tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline.strftime('%m/%d')%></td>
    <td><%= task.status %></td>
    <td class="sort_priority"><%= task.priority %></td>
    <td><%= task.user.name %></td>
    <td><%= link_to '詳細', task_path(task.id), class: 'btn btn-primary' %></td>
    <td><%= link_to "編集", edit_task_path(task.id), class: 'btn btn-success', data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '削除', task_path(task.id), class: 'btn btn-warning', method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくタスクを投稿する', new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %>
<br>
